<div class="detail-item mb-3">
    <div class="small text-muted">
        @Label
    </div>

    <div class="fw-semibold text-break">
        @Value
    </div>
</div>

@code {
    [Parameter]
    public string Label { get; set; } = string.Empty;

    [Parameter]
    public string Value { get; set; } = string.Empty;
}